[instruçãoTabela3]
CARGA EM SITUAÇÃO ESPECIAL
a)trânsito de TECA para TECA;
b)trânsito internacional, inclusive para partes e peças para embarcações, aeronaves e outros veículos estrangeiros, quando em trânsito no país;
c)reimportação, redestinação e carga descarregada por engano;
d)bagagem desacompanhada e carga, consideradas pela Receita Federal como sem valor e destinação comercial;
e)moedas estrangeiras, importadas diretamente pela autoridade monetária brasileira; 
f)materiais de comissaria e de suprimentos de uso exclusivo das empresas de transporte aéreo, observado o disposto no inciso II do artigo3o, desta Portaria; 
g)malas diplomáticas, quando devidamente caracterizadas e em reciprocidade de tratamento; 
h)urnas contendo cadáveres ou cinzas;
i)plantas, sementes, animais vivos, ovos férteis, semens e embriões, desde que liberados em prazo máximo de 6 (seis) horas, contadas a partir do ato de recebimento no TECA; 
j)cargas que entrarem no país sob o regime de Admissão Temporária destinadas, comprovadamente, aos certames e outros eventos de natureza científica, esportiva, filantrópica ou cívico-cultural; e 
l)aparelhos, motores, reatores, peças, acessórios e demais partes, materiais de manutenção e reparo, importados ou admitidos temporariamente no País, por empresas nacionais concessionárias ou permissionárias dos serviços aéreos públicos, quando destinados a uso próprio. 

3) Para as cargas constantes das letras "e", "g" e "h" inclusas na Tabela 3, deverá ser observado o disposto nos artigos 19 e 20 desta Portaria. 

[instruçãoTabela4]
CARGA EM TRANSITO ADUANEIRO
Carga sob regime especial de transito aduaneiro simplificado destinado a recinto 
alfandegado em zona secundaria com permanencia máxima de 24 horas.

[instruçãoTabela6]
CARGA SERÁ EXPORTADA
Redução de 50% no caso de retorno de carga perecível ao TECA, decorrente de atraso ou
cancelamento de transporte aéreo previsto. (Of.El.No.40/2001)